<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bower_components/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Multilingual Report Annotator</title>
  </head>
  <body class="index-page">

    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Multilingual Report Annotator</a>
          </div>
        </div>
      </nav>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Upload Report</h3>
        </div>
        <div class="panel-body">

          <form id="upload-report-form" role="form" method="POST" enctype=multipart/form-data action="/add_report">

            <div class="form-group col-md-6">
              <label for="category_input">Category</label>
              <input id="category_input" type="text" name="category" class="form-control">
            </div>

            <div class="form-group col-md-6">
              <label for="orig_language">Original Language</label>
              <select id="orig_language_input" name="orig_language" class="form-control">
                <option value='de'>Deutsch</option>
                <option value='en'>English</option>
                <option value='fr'>French</option>
                <option value='it'>Italian</option>
                <option value='pt'>Portuguese</option>
                <option value='es'>Spanish</option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label class="control-label" for="file_input">Select File</label>
              <input id="file_input" type="file" name="file" class="file" data-show-preview="false">
            </div>
          </form>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Last Uploaded Reports</h3>
        </div>
        <table class="table" id="last-reports-table">
          <thead>
            <tr>
              <th>Code</th>
              <th>Category</th>
              <th>Original Language</th>
              <th>Date</th>
              <th>Processed</th>
              <th>More</th>
            </tr>
          </thead>
          <tbody>
          {% for report in reports %}

            <tr>
              <td>{{ report.report_id }}</td>
              <td>{{ report.category }}</td>
              <td>{{ report.original_language }}</td>
              <td>{{ report.creation_date.strftime('%Y-%m-%d %H:%M') }}</td>
              <td>
                {% if report.radlex_annotations and (report.original_language == 'en' or report.translated_text) %}
                  <span class="glyphicon glyphicon-thumbs-up gi-2x"></span>
                {% else %}
                  <span class="glyphicon glyphicon-thumbs-down gi-2x"></span>
                {% endif %}
              </td>
              <td>
                <a href='/report/{{ report.report_id }}'>
                  <span class="glyphicon glyphicon-book gi-2x"></span>
                </a>
              </td>
            </tr>

          {% endfor %}
          </tbody>
        </table>
      </div>


    </div>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bower_components/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="/static/bower_components/jquery-form/jquery.form.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
