{% extends "base.html" %}
{% block body %}

      <div>
        <ul class="nav nav-tabs">
            <li class="active">
              <a href="#original" aria-controls="original" data-toggle="tab">Original Text</a>
            </li>
            {% if original_language != 'en' %}
              <li>
                <a href="#translated" aria-controls="translated" data-toggle="tab">Translated</a>
              </li>
            {% endif %}
            <li>
              <a href="#annotated" aria-controls="annotated" data-toggle="tab">Annotated</a>
            </li>
        </ul>
      </div>
      <div class="tab-content" id="reports-tab-content">
        <div id="original" class="tab-pane fade in active">
          <div class="well well-lg well-report">
          {% for line in original_text %}
            {{ line }}<br>
          {% endfor %}
          </div>
        </div>
        <div id="translated" class="tab-pane fade">
          <div class="well well-lg well-report">
          {% if translated_text is not none %}
            {% for line in translated_text %}
              {{ line }}<br>
            {% endfor %}
          {% else %}
            Report was not yet translated.
          {% endif %}
          </div>
        </div>
        <div id="annotated" class="tab-pane fade">
          <div class="well well-lg well-report" id="annotated_text">
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">

      const annotations = {{ annotations|tojson|safe }};
      const splitTextToAnnotate = {{ split_text_to_annotate|tojson|safe }};

    </script>

{% endblock %}


{% block custom_js_files %}
<script src={{ url_for('static', filename='js/report.js') }}></script>
{% endblock %}
